.Container {
  display: flex;
 flex-direction: row;
  /* height: 300px; */
  /* width: 500px; */
}

.blok {
    background-color: #242424;
  height: 120px;
  width: 350px;
  max-width: 350px;
  display: flex;
}


.img {
  display: flex;
  flex-direction: column;

  height: 120px;
  width: 80px;
}




.actie  {

  display: flex;
    flex-direction: column;
    width: 180px;
    font: bold;
    color: white;
}
.beschrijving {


  display: flex;
  flex-direction: row;
}
.price  {
  width: 60px;
  display: flex;
  flex-direction: column-reverse;
  color: red;
}
.pricerow  {

  display: flex;
  flex-direction: row;

}
.button  {

  display: flex;
  flex-direction: column;
  color: red;
  font: 20px;
 align-items:flex-end;
 flex-direction: flex-end;

 
}